[Unit]
Description=Sig-Config
After=multi-user.target

[Service]
Type=idle
Restart=on-failure
RestartSec=10
User=
ExecStart=
WorkingDirectory=

[Install]
WantedBy=multi-user.target