{% extends "base.html" %}
{% block title %}Config{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}

{% block heading %}
    <h1 class="display-1">{{ hostname }}</h1>
    For full project details and installation/setup guide, visit the Signifier GitHub page:<p>
    <a href="https://github.com/MaxVRAM/Signifier" title="Signifier GitHub page">https://github.com/MaxVRAM/Signifier</a> 
{% endblock %}

{% block content %}

<div class="spacer"></div>

<div class="container">
  <h3>{{ hostname }} Config</h3>
  <div class="container">
    Upload and apply a new config file to <strong>{{ hostname }}</strong>:
    <form class="row g-3" action="" method=post enctype=multipart/form-data>
    <div class="col-auto">
      <input class="form-control form-control" id="configUpload" type="file" name=file>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#uploadConfig">Upload</button>
    </div>
  </div>
  <p>
  <div class="container">
    Download IN-USE config file from <strong>{{ hostname }}</strong>:
    <p>
    <a class="btn btn-primary" href="/download/config.json" role="button">config.json</a>
    <a class="btn btn-primary" href="/download/values.json" role="button">values.json</a>
    <a class="btn btn-primary" href="/download/rules.json" role="button">rules.json</a>
  </div>
  <p>
  <div class="container">
    Download DEFAULT config file from <strong>{{ hostname }}</strong>:
    <p>
    <a class="btn btn-warning" href="/download_default/config.json" role="button">config.json</a>
    <a class="btn btn-warning" href="/download_default/values.json" role="button">values.json</a>
    <a class="btn btn-warning" href="/download_default/rules.json" role="button">rules.json</a>
  </div>
</div>

<div class="spacer"></div>

<div class="container">
  <h3>{{ hostname }} Mangement</h3>
  <div class="container">
    <p>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#updateSignifier">Update App</button>
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#restartSignifier">Restart App</button>
    <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#refreshDatabase">Refresh Database</button>
    <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#rebootSignifier">Reboot</button>
    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#poweroffSignifier">Power Off</button>
  </div>
</div>

<div class="spacer"></div>


<!-- Modal -->
<div class="modal fade" id="uploadConfig" tabindex="-1" aria-labelledby="uploadConfigLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadConfigLabel">Confirm config upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>You are about to upload a new config file to "{{ hostname }}". This may disrupt its activity shortly. Invalid JSON formatting can cause the Signifier to fail, which may require a hardware restart.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Upload">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateSignifier" tabindex="-1" aria-labelledby="updateSignifierLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateSignifierLabel">Update {{ hostname }} and reboot?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Update Signifier and Arduino, reset defaults, and reboot "{{ hostname }}"?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="/update_signifier" role="button">Okay</a></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="restartSignifier" tabindex="-1" aria-labelledby="restartSignifierLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restartSignifierLabel">Restart Signifier App?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>You are about to restart the Signifier application "{{ hostname }}". Functionality should return within 30 seconds.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="/restart_signifier" role="button">Okay</a></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="refreshDatabase" tabindex="-1" aria-labelledby="refreshDatabaseLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="refreshDatabaseLabel">Refresh Signifier Database?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>You are about to flush and re-deploy Signifier "{{ hostname }}"'s local database'.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="/refresh_database" role="button">Okay</a></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="rebootSignifier" tabindex="-1" aria-labelledby="rebootSignifierLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rebootSignifierLabel">Reboot Signifier?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>You are about to reboot the Rapsberry Pi "{{ hostname }}". Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="/reboot_signifier" role="button">Okay</a></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="poweroffSignifier" tabindex="-1" aria-labelledby="poweroffSignifierLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poweroffSignifierLabel">Power Off Signifier?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>You are about to power off the Rapsberry Pi "{{ hostname }}". It will not be accessable unless you physically power-cycle the Signifier after you do this!</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="/poweroff_signifier" role="button">Okay</a></div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
